// 其它自訂樣式
@import './styles/custom.scss';

// 全站都會使用的共同樣式
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
      rgba(47, 23, 15, 0.36),
      rgba(47, 23, 15, 0.36)
    ),
    url(http://localhost:3000/images/Home/kafeise-007.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.react-parallax-content {
  z-index: 1;
}
.bg-text {
  background: rgba(255, 255, 255, 0.85);
}

.bgYe {
  background-color: rgba(230, 167, 86, 0.9);
  margin: 5rem 0;
}
.bgYeSquare {
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 3rem;
  z-index: 1;
  .bgYeTitle {
    text-align: center;
  }
  .bgYeTitle1 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 900;
  }
  .bgYeTitle2 {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
  }
}
.bgYeSquare::after {
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  z-index: -1;
}
